API_KEY_BINANCE=your_binance_api_key
API_SECRET_BINANCE=your_binance_api_secret

API_KEY_OKX=your_okx_api_key
API_SECRET_OKX=your_okx_api_secret

API_KEY_BYBIT=your_bybit_api_key
API_SECRET_BYBIT=your_bybit_api_secret

API_KEY_BITGET=your_bitget_api_key
API_SECRET_BITGET=your_bitget_api_secret

BASE_URL_BINANCE=https://api.binance.com
BASE_URL_OKX=https://www.okx.com
BASE_URL_BYBIT=https://api.bybit.com
BASE_URL_BITGET=https://api.bitget.com